@import 'custom-theme.scss';

$max-screen:499px;
$min-screen: 500px;

body
{
  margin: 0;
  padding: 0;
}

.background-primary
{
  background-color: mat-color($todo-primary);
}

.background-accent
{
  background-color: mat-color($todo-accent);
}
