@import 'custom-theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body
{
  font-family: 'Libre Baskerville', serif;
  margin: 0;
  padding: 0;
}

.background-primary
{
  background-color: mat-color($primary);
}

.background-accent
{
  background-color: mat-color($accent);
}
