.container
{
  width:50%;
  margin: 10px auto;
}
.recover-form
{
  width:75%;
  margin: 0 auto;

}
mat-form-field
{
  display: block;
  width:100%;
}
mat-card-actions
{
  display: flex;
  justify-content: flex-end;
}

.error
{
  color:red;
  width:100%;
  margin: 0 auto;
}
@media (max-width: 600px)
{
  .container
  {
    width:90%;
  }
  .recover-form
  {
    width:100%;
  }
}
@media (max-width: 400px)
{
  .container
  {
    width:100%;
  }
}
