<div class="container">
  <mat-card>
    <div class="recover-form">
      <mat-card-content>
        <form [formGroup]="recoverForm"
              (ngSubmit)="submitEmail()">
          <p>Please enter your email to search for your account.</p>
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Email:</mat-label>
            <input matInput type="email" name="username" [formControl]="recoverForm.controls['email']">
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="recoverForm.controls['email'].invalid">{{getEmailError()}}</mat-error>
          </mat-form-field>
          <div class="buttons">
            <span class="button"><button mat-raised-button class="submit" color="primary">Find Account</button></span>
            <span class="button"><button mat-button routerLink="../">Cancel</button></span>
          </div>
        </form>
      </mat-card-content>
    </div>
  </mat-card>
</div>
