
<mat-card class="signin-form">
  <mat-grid-list cols="12">
    <mat-grid-tile colspan="12" rowspan="2">
      <mat-card-header>
        <h2>Sign In</h2>
      </mat-card-header>
    </mat-grid-tile>
    <mat-grid-tile colspan="12">
      <mat-card-content>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile colspan="12">
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </mat-card-content>
    </mat-grid-tile>


  </mat-grid-list>



</mat-card>






