
<div class="container">
  <mat-card color="accent">
    <mat-card-header>
      <mat-card-title>Login to Todos</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      User Name : <input type="text" name="username" [(ngModel)]="username">
      Password : <input type="password" name="password" [(ngModel)]="password">
    </mat-card-actions>
  </mat-card>






  <!-- <div class="alert alert-warning" *ngIf="invalidLogin">{{errorMessage}}</div>

  <div>
    User Name : <input type="text" name="username" [(ngModel)]="username">
    Password : <input type="password" name="password" [(ngModel)]="password">

    <button (click)=handleLogin() class="btn btn-success">Login</button>
    <button (click)=handleJWTAuthLogin() class="btn btn-success">Login</button>
  </div>
</div> -->
