
<!--
Login will be used as a page for signing in or registering.
Sign in an register components will be cards that are swiped out on toggle from the login tabs.

-->

<div class="login-container">
  <h4 *ngIf="passwordError == 'reset-pass'">There was an issue resetting your password</h4>
<mat-card>
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab color="primary" label="Sign In"><app-signin></app-signin></mat-tab>
      <mat-tab color="primary" label="Register"><app-register></app-register></mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
</div>





