
<!--
Login will be used as a page for signing in or registering.
Sign in an register components will be cards that are swiped out on toggle from the login tabs.

-->
<!-- <div class="login-container">
<mat-card>
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab color="primary" label="Sign In"><app-signin></app-signin></mat-tab>
      <mat-tab color="primary" label="Register">Register</mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
</div> -->

<app-signin></app-signin>







  <!-- <div class="alert alert-warning" *ngIf="invalidLogin">{{errorMessage}}</div>

  <div>
    User Name : <input type="text" name="username" [(ngModel)]="username">
    Password : <input type="password" name="password" [(ngModel)]="password">

    <button (click)=handleLogin() class="btn btn-success">Login</button>
    <button (click)=handleJWTAuthLogin() class="btn btn-success">Login</button>
  </div>
</div> -->
