.container
{
  width:50%;
  margin: 10px auto;
}
.register-form
{
  width:75%;
  margin: 0 auto;
}
mat-form-field
{
  display: block;
  width:100%;
}
button
{
  width:100%;
}
.error
{
  color:red;
  width:100%;
  margin: 0 auto;
}
