<div class="container">
  <h2>Reset Password</h2>
  <mat-card>
    <div class="change-password-form">
      <mat-card-content>
        <form [formGroup]="changePasswordForm"
              (ngSubmit)="onSubmit()">

          <div class="pass">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>New Password:</mat-label>
              <input matInput id="new-password" name="new-password" [type]="hide ? 'password' : 'text'"
                    [formControl]="changePasswordForm.controls['password']" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="changePasswordForm.controls['password'].invalid">{{getPasswordError()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent">
              <mat-label>Confirm Password:</mat-label>
              <input matInput id="confirm-pass" name="confirm-pass" [type]="hideConfirm ? 'password' : 'text'"
                    [formControl]="changePasswordForm.controls['confirm-pass']" required>
              <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error>Passwords must match</mat-error>
            </mat-form-field>
          </div>
          <mat-card-actions>
            <button mat-raised-button class="submit" color="primary">Update Password</button>
            <button mat-raised-button class="submit" color="primary" routerLink="/login">Return to login</button>
          </mat-card-actions>

        </form>
      </mat-card-content>
    </div>
  </mat-card>
</div>
