.container
{
  width:75%;
  margin: 0 auto;
}
.password-form
{
  width:75%;
  margin: 0 auto;
}
.password-field
{
  display:block;
}
.error
{
  color: red;
}
mat-form-field
{
  display: block;
}
mat-card-actions
{
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 350px)
{
  .container
  {
    width:100%;
  }
}

