<div class="container">
  <h2>Update Password</h2>
  <mat-card>
    <div class="password-form">
      <mat-card-content>
        <form [formGroup]="passwordForm"
              (ngSubmit)="onSubmit()">
          <div class="pass">
            <p *ngIf="!passwordMatch" class="error">Incorrect password. Please try again.</p>
            <mat-form-field class="password-field" appearance="outline" color="accent">
              <mat-label>Current Password:</mat-label>
              <input matInput id="curr-password" name="curr-password" [type]="hide[0] ? 'password' : 'text'"
                    [formControl]="passwordForm.controls['curr-password']" required>
              <mat-icon matSuffix (click)="hide[0] = !hide[0]">{{hide[0] ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="passwordForm.controls['curr-password'].hasError('minlength')">Password must be at least {{passwordMinLength}} characters</mat-error>
            </mat-form-field>

            <mat-form-field class="password-field" appearance="outline" color="accent">
              <mat-label>New Password:</mat-label>
              <input matInput id="new-password" name="new-password" [type]="hide[1] ? 'password' : 'text'"
                    [formControl]="passwordForm.controls['new-password']" required>
              <mat-icon matSuffix (click)="hide[1] = !hide[1]">{{hide[1] ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="passwordForm.controls['new-password'].hasError('minlength')">Password must be at least {{passwordMinLength}} characters</mat-error>
            </mat-form-field>

            <mat-form-field class="password-field" appearance="outline" color="accent">
              <mat-label>Confirm Password:</mat-label>
              <input matInput id="confirm-password" name="confirm-password" [type]="hide[2] ? 'password' : 'text'"
                    [formControl]="passwordForm.controls['confirm-password']" required>
              <mat-icon matSuffix (click)="hide[2]= !hide[2]">{{hide[2] ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error>Doesn't match new password</mat-error>
            </mat-form-field>

          </div>
          <mat-card-actions>
            <button mat-raised-button class="submit" color="primary" [disabled]="!passwordForm.valid">Update Password</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </div>
  </mat-card>
</div>
